    header img{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    section{
        flex-direction: column;
        align-items: center;
        background-color: #fff;
    }

    section span{
        text-align: center;
        font-size: 100px;
        font-weight: 500;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .box-form{
        border: 1px solid #0000003a;
        width: 90%;
        height: 135px;
        margin: center;
        margin-top: 10px;
    }

    .box-form img{
        margin: 0 auto;
        padding-top: 5px;
    }

    .box-form span{
        font-size: 18px;
        font-weight: normal;
    }

    .box-form .clave-input{
        outline: none;
        width: 150px;
        height: 50px;
        border: none;
        border-bottom: 1px solid #F8DC23;
        letter-spacing: 2em;
        
   
    }

    .box-btn button{
        width: 260px;
        height: 42px;
        font-size: 1em;
    }

    .img-fondo{
        width: 100%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-fondo img{
        width: 500px;
        max-width: 110%;
    }